# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Testing For PRs

on: [ pull_request ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        docker-version: # See https://endoflife.date/docker-engine
          - 19.03.15  # EOL 08-Jan-2021
          - 20.10.23  # EOL ?
          - 23.0.2   # EOL ?
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
      - name: Set up docker ${{ matrix.docker-version }}
        run: |
          curl -sL https://howtowhale.github.io/dvm/downloads/latest/install.sh | sh
          source ~/.dvm/dvm.sh; dvm install ${{ matrix.docker-version }} || dvm list-remote
          source ~/.dvm/dvm.sh; dvm use ${{ matrix.docker-version }} && docker version
      - name: Build with Gradle
        run: ./gradlew assemble check
