# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Test and Build

on:
  push:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        docker-version: # See https://endoflife.date/docker-engine
          - "20.10" # 2020-12 --> EOL 2023-12-10
          - "23.0"  # 2023-02 --> EOL ?
          - "24.0"  # 2023-05 --> EOL ?
          - "25.0"  # 2024-01 --> EOL ?
          - "26.0"  # 2024-03 --> EOL ?
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
      - name: Set up Docker
        uses: docker-practice/actions-setup-docker@master
        with:
          docker_version: ${{ matrix.docker-version }}
      - name: Build with Gradle
        run: ./gradlew assemble check
  previewGithubRelease:
    needs: test
    runs-on: ubuntu-latest
    env:
      GITHUB_USER:  "gocd-contrib"
      GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
      - name: Test with Gradle
        run: ./gradlew githubRelease
